nav.main-nav
  .main-nav__wrapper
    ul.main-nav__list
      li.main-nav__item 
        a.main-nav__link(href="#") Новости
      li.main-nav__item
        a.main-nav__link.main-nav__link--active Опросы
      li.main-nav__item 
        a.main-nav__link(href="#") Материалы
      li.main-nav__item 
        a.main-nav__link(href="#") Сценарий
      li.main-nav__item 
        a.main-nav__link(href="#") Назначение
